<div>
    <form asp-action="UploadCSV" asp-controller="File" method="post" enctype="multipart/form-data">
        <input type="file" accept=".txt" name="uploadedFile" onchange="form.submit()" class="btn btn-dark" /><br>
    </form>
</div>
